extends baseEmail

block content 
    p Привет, #{firstName},
    p  Хочу уведомить вас, что произошел вход в ваш аккаунт Snapgram. Детали входа:
    p 
        span.bold #{ip}
    p 
        span.bold #{type}
    p 
        span.bold #{device}
    p Если это были не вы, рекомендуем срочно изменить пароль вашего аккаунта для обеспечения безопасности. Вы можете сделать это, следуя инструкциям на сайте Snapgram.
    p Если у тебя возникнут вопросы или проблемы с использованием Snapgram, не стесняйся обращаться к нам!
    p - Команда Snapgram


