extends baseEmail

block content 
    p Привет, #{firstName},
    p  Добро пожаловать на Snapgram, мы рады видеть тебя здесь 📸💫
    if !isReset 
        p Тебе потребуется следующий код для завершения авторизации: 
    else 
        p Тебе потребуется следующий код для сброса пароля:
    p 
        span.bold #{code}
    p Если у тебя возникнут вопросы или проблемы с использованием Snapgram, не стесняйся обращаться к нам!
    p - Команда Snapgram


